@import "settings"
@import "normalize"
@import "mixins"
//@import "reboot"
//@import "type"
//@import "images"
//@import "code"
//@import "grid"

@import "app_mixins"

html, body, #app
  height: 100%

.app
  min-height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between

