$bs-bg-primary: #337ab7
$bs-bg-success: #5cb85c
$bs-bg-danger: #d9534f

$bs-border-primary: #2e6da4
$bs-border-success: #4cae4c
$bs-border-danger: #d43f3a

$trello-add-card-hover-bg-color: #CDD2D4

$ya-bg-color: #E5E5E5

body
  background-color: $ya-bg-color

.show-grid
  background-color: white

.glyphicon
  &:hover
  cursor: pointer

.glyphicon-ok
  color: $bs-border-success

.glyphicon-remove
  color: $bs-border-danger

.glyphicon-pencil
  color: $bs-border-primary

.show-grid
  > [class^=col-]
    border: 1px solid rgba(86,61,124,.2)
    margin: 10px 0 10px 10px

.card-footer
  padding-bottom: 15px